.Contact {
  align-items: center;
  display: flex;
  max-width: 320px;
  width: 340px;
  padding: 6px 16px;
  margin-bottom: 6px;
  font-size: 1.2rem;
}

.IMG {
  padding-left: 10px;
  line-height: 0;
  margin-right: 14px;
}

.AvatarImage {
  width: 70px;
}

.fullName {
  line-height: 1;
}

.fullName>span {
  margin-right: 10px;
}

.fullName img {
  position: relative;
  left: 4px;
  width: 17px;
  vertical-align: middle;
}