@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  user-select: none;
  font-family: 'Poppins', sans-serif;
  -webkit-user-select: none;
}

div.contact-list {
  height: 684px;
  max-width: fit-content;
  min-width: 350px;
  margin: 60px auto;
  flex-direction: column;
  justify-content: center;
  padding: 44px 36px 36px;
  border-radius: 5px;
  z-index: 20000;
  background-image: url("./../../assets/images/mobile-border.png");
  background-repeat: no-repeat;
  background-size: 251%;
  background-position: 48%
}

.header {
  padding-top: 10px;
  text-align: center;
  margin: 0px 0px 10px;
}

.search-box {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.search-box>input {
  width: 90%;
  padding: 10px;
  font-size: 1em;
}

.checkboxes {
  margin: 10px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.checkboxes input {
  transform: scale(1.5);
}

.elCheck label {
  margin-left: 4px;
  text-transform: uppercase;
}